check process sharetribe-jobs matching "rake jobs:work"
        start program = "/bin/su - deploy -c 'cd {{deploy_directory}}/current && RAILS_ENV=production bundle exec rake jobs:work'"
        stop program = "/bin/su - deploy -c 'cd {{deploy_directory}}/current && RAILS_ENV=production bundle exec rake jobs:work'"
