## webapp

webserver_name: www.mysharetribesite.fr
deploy_directory: /data/sharetribe
app_name: mysite
db_name: mysite_prod
db_username: mysite
db_password: mypassword

sharetribe_domain: sharetribe.sample.com

default_locale: fr
smtp_email_address: smtp.mandrillapp.com
smtp_email_port: 587
smtp_email_user_name: user_name
smtp_email_password: email_password
smtp_email_domain: sample.com

sharetribe_mail_from_address: "contact@sample.com"
feedback_mailer_recipients: "contact@sample.com"
